#profile-img {
  width: 150px;
  height: auto;
  float: right;
  border-radius: 50%;
  animation-name: flip;
  animation-duration: 1s;
}

#title-span {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  animation-name: flip;
  animation-duration: 1s;
}



.pro-date {
  float: right;
  margin-right: 20px;
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 100%;
  }
}

@keyframes flip{
  from{ t ; }
  to{ transform: translate(20px) }
}