#profile-img {
  width: 150px;
  height: auto;
  float: right;
  border-radius: 50%;
}

#title-span {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

#title-span::before {
  color: blue;
  content: "Discovery";
}

#title-span::after {
  color: red;
  content: "Discovery";
}

.pro-date {
  float: right;
  margin-right: 20px;
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 100%;
  }
}

